.gitignore
config.php
fonts/custom/*
layouts/custom/*
layouts/snippets/custom/*
symbols/custom/*
graphics/wappen/*
graphics/custom/*
plugins/*/config/config.php
plugins/*/config/config.sh
plugins/*/img/*
plugins/*/results/
.settings
.project
.buildpath
vendor/
robots.txt
.idea
*.iml
