.gitignore
config.php
fonts/custom/*
layouts/custom/*
layouts/snippets/custom/*
symbols/custom/*
graphics/wappen/*
graphics/custom/*
plugins/*/config/config.php
plugins/*/img/*
.settings
.project
.buildpath
